@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    padding: 20px;
    font-weight: 400;
    background-color: #272727;
}

p, li, a {
    font-size: 18px;
}

.page-wrapper {
    position: relative;
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
    background-color: rgb(8, 5, 0);
}

.navigation {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 15px 0;
    background-color: rgb(0, 0, 0);
}

.navigation-list {
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navigation-item {
    padding: 0 15px;
}

.navigation-link {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
}

.navigation-link:hover {
    border-bottom: rgb(0, 0, 0) solid 3px;
}

.page-section {
    padding: 30px 0;
}

.page-section:last-child {
    padding-bottom: 100px;
}

.intro-title {
    margin: 0;
    padding-top: 60px;
    text-align: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

.intro-image {
    display: block;
    margin: 40px auto 0;
    width: 800px;
    max-width: 100%;
}

.intro-caption {
    text-align: center;
    font-style: italic;
}

.favourite-things-images {
    display: flex;
    align-items: center;
}

.favourite-things-image {
    padding: 10px;
    width: calc(1/3 * 100%);
}

.favourite-things-list-item {
    margin: 15px 0;
}

.cool-websites-links {
    margin-top: 30px;
}

.cool-websites-link {
    padding: 5px 10px;
    margin-right: 20px;
    text-decoration: none;
    border-radius: 4px;
}

.cool-websites-link-1 {
    background-color: #00a562;
    color: white;
}

.cool-websites-link-2 {
    background-color: #292929;
    color: white;
}